[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
	

[submodule "_src/themes/PaperMod"]
	path = _src/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
